{% extends "JuliePlatformBundle::layout.html.twig" %}

{% block body %}

<div id="infos" class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
	<img src="img/Autoportrait.jpg">
	<p>
		<h4><em>Réseaux Sociaux:</em></h4>
		
			Blog:<a href="http://juliefranchet.com/WordPress3/" target="_blank">Julie Franchet</a>
			<br />
			Instagram:<a href="https://www.instagram.com/escarabeille/" target="_blank">escarabeille</a>
			<br />
			Facebook:<a href="https://www.facebook.com/julie.franchet.5" target="_blank">Julie Franchet </a>
			<br />
			Twitter:<a href="https://twitter.com/juliedjan" target="_blank">@JulieDjan</a>
			<br />
			Linked In:<a href="https://fr.linkedin.com/in/juliefranchet" target="_blank">Julie Franchet</a>
			<br />
		<h4><em>Acheter mes images:</em></h4>
			<a href="http://juliefranchet.photoshelter.com/gallery-list">Photoshelter Julie Franchet</a>		
	</p>
</div>

<div id="contactForm" class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
	<h4><em>Pour me laisser un message:</em></h4>
	<br />
	{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
			{{ form_errors(form) }}

			<div class="form-group"> {# Nom #}
				{{ form_label(form.name, "Nom:", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
				{{ form_errors(form.name) }}
				<div class="col-xs-12 col-sm-9 col-md-9">
					{{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
				</div>
			</div>

			<div class="form-group"> {# email #}
				{{ form_label(form.email, "Email:", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
				{{ form_errors(form.email) }}
				<div class="col-xs-12 col-sm-9 col-md-9">
					{{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
				</div>
			</div>

			<div class="form-group"> {# Sujet #}
				{{ form_label(form.sujet, "Titre:", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
				{{ form_errors(form.sujet) }}
				<div class="col-xs-12 col-sm-9 col-md-9">
					{{ form_widget(form.sujet, {'attr': {'class': 'form-control'}}) }}
				</div>
			</div>

			<div class="form-group"> {# message #}
				{{ form_label(form.message, "Message:", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
				{{ form_errors(form.message) }}
				<div class="col-xs-12 col-sm-9 col-md-9">
					{{ form_widget(form.message, {'attr': {'class': 'form-control'}}) }}
				</div>
			</div>

			<div class="form-group"> {# Bouton Envoyer #}
				<div class="col-xs-12 col-sm-9 col-md-9 col-sm-offset-3">
					{{ form_widget(form.envoyer, {'attr': {'class': 'btn btn-primary'}}) }}
				</div>
			</div>
				{{ form_rest(form) }}
				{{ form_end(form) }}
</div>

{% endblock body %}
