{% extends "JuliePlatformBundle::layout.html.twig" %}
{% block body %}

	<div class="container show_gallery">
	<div class="right_side">
		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
			<div id="buttons-admin">
			<a class="btn btn-info btn-sm" style="width:140px"  href="{{ path ('Galerie_edit', {'id': 1} ) }}">Modifier cette galerie</a>
		</div>
		{% endif %}

		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 right_side_visitor">
			<div id="slider_home" class="flexslider">
				<ul class="slides">
					{% for image in listImage %}
						<li>
							<img src="{{ asset ('' ~image.webPath) }}"/>
							{# to use the titre variable outside the loop #}
							{% set titre = image.titre %}	
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
	</div>

{% endblock body %}

{% block footer %}
	{{ parent() }}
{% endblock %}

{% block javascript %}
{{ parent() }}
	<script type="text/javascript" src="{{ asset('/js/homepageFlex.js') }}"></script>
{% endblock %}


