{% extends "JuliePlatformBundle::layout_gallery.html.twig" %}

{% block left_side %}
	
	{% for image in listImage %}
		<div class="container-fluid">
			<div class="galerie">
					<ul>
						<li>{{ image.titre|title }}</li>
						<li>{{ image.galerie}}</li>
						<li>{{ image.filename }}</li>
						{# <img src="{{ asset ( ''~ image.webPath ) }}"/>
						  <li>{{ image.extension }}</li>
			  			<li>{{ image.id}}</li>
							<li>{{ image.webPath }}</li> #}
					</ul>
			</div>
		</div>		
	{% endfor %}	
{% endblock left_side %}


{% block right_side %}
{% endblock right_side %}
