<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}Julie Franchet{% endblock %}</title>

	{% block stylesheets %}
		<link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}"/>
		<link rel="stylesheet" href="{{ asset('css/bootstrap-theme.css') }}"/>
		<link rel="stylesheet" href="{{ asset('css/main.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('css/flexslider.css') }}">
	{% endblock %}


</head>
<body>
	<div class="container-fluid">
		<div class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<div class="navbar-brand" href="#">Julie Franchet</div>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li class="active"><a href="/Julie/web/app_dev.php/home">Home</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Reportage <b class="caret"></b></a>
							<ul class="dropdown-menu">
								{{ knp_menu_render('reportage') }}
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Art
								<b class="caret"></b></a>
								<ul class="dropdown-menu">
									{{ knp_menu_render('art') }}

								</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Studio
								<b class="caret"></b></a>
								<ul class="dropdown-menu">
									{{ knp_menu_render('studio') }}
								</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Vidéo
								<b class="caret"></b></a>
									<ul class="dropdown-menu">
										{{ knp_menu_render('video') }}
									</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Souvenir
								<b class="caret"></b></a>
									<ul class="dropdown-menu">
										{{ knp_menu_render('souvenir') }}
									</ul>
						</li>
						{#<li><a href="{{ path('JuLie_PlatformBundle_about') }}">About</a></li>#}
						<li><a href="/Julie/web/app_dev.php/contact">Contact</a></li>
						<li><a href="/Julie/web/app_dev.php/login">Login</a></li>
					</ul>
				</div> <!--/.nav-collapse -->
			</div> <!-- div container -->
		</div> <!-- div tnavbar -->



		<div id="authentication">
			{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
				{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
				<a href="{{ path('fos_user_security_logout') }}" class="btn btn-default" role="button">
					{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
				</a>
				<a href="/Julie/web/app_dev.php/NouvelleGalerie" class="btn btn-default" role="button">Nouvelle Galerie</a>
				{% else %}
				{#<a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>#}
			{% endif %}
		</div>
			{% if app.request.hasPreviousSession %}
				{% for type, messages in app.session.flashbag.all() %}
					{% for message in messages %}
						<div class="flash-{{ type }}">
							{{ message }}
						</div>
					{% endfor %}
				{% endfor %}
			{% endif %}

			<div>
				{% block fos_user_content %}
				{% endblock fos_user_content %}
			</div>
			<div>
				<canvas id="banniere" width="3000" height="70"></canvas>
				<script>
				var canvas = document.getElementById('banniere');
				var ctx = canvas.getContext('2d');
				var numberOfLines = 4;
				var i = 0;
				var cycle = function() {
					ctx.clearRect(0, 0, canvas.width, canvas.height);
					for(var j=0; j<numberOfLines; ++j) {
						ctx.lineWidth = 1+2*(numberOfLines-j);
						ctx.strokeStyle = 'rgba(100,200,'+Math.floor(Math.abs(Math.cos(i/80)*256))+','+(j/5+0.1)+')';
						var offset = (i+j*10*Math.abs(Math.cos(i/100)))/20;
						var y = (Math.sin(offset)+1)*canvas.height/2;
						var cpy1 = (Math.cos(offset)+0.5)*canvas.height;
						var cpy2 = canvas.height - cpy1;
						ctx.beginPath();
						ctx.moveTo(0, y);
						ctx.bezierCurveTo(canvas.width/3, cpy1, 2*canvas.width/3, cpy2, canvas.width, y);
						ctx.stroke();
					}
					i++;
				};
				setInterval(cycle, 30);
				</script>
			</div>
			<div>
				{% block right_side %}
				{% endblock right_side %}
			</div>
			<div>
				{% block footer %}
				{% endblock footer %}
			</div>
	</div> <!-- div container-fluid -->

	<script type="text/Javascript" src="{{ asset('/js/jquery-1.11.1.js')}}"></script>
	<script type="text/Javascript" src="{{ asset('/js/bootstrap.min.js')}}"></script>
	<script type="text/Javascript" src="{{ asset('/js/jquery.flexslider-min.js')}}"></script>
	<script type="text/Javascript" src="{{ asset('/js/jquery.flexslider.js')}}"></script>
	<script type="text/javascript" charset="utf-8">				
	$(window).load(function() {
		$('.flexslider').flexslider({
			animation: "fade"
		});
	});
	</script>

</body>
</html>